.button {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  color: $palette-primary-text;
  cursor: pointer;
  display: flex;
  flex: $space-l 0 0;
  height: $space-l;
  justify-content: center;
  transition: background-color .25s;

  &.active,
  &:hover {
    background-color: $palette-light-primary;
  }
}
