.container {
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: resolve($space-m + $space-s);
  outline: none;
  transition: .5s;
  width: resolve($space-m + $space-s);

  &:hover,
  &.active {
    @mixin boxShadow 'xs';
    transform: scale(1.2);
  }
}
