.button {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;
  margin: $space-s 0;
  opacity: .5;
  outline: none;
  transition: all .5s;

  &.active,
  &:hover {
    opacity: 1;
  }
}
