.container {
  background-color: $palette-text-or-icon;
  border-radius: $space-s;
  bottom: resolve($space-l + $space-xs);
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  left: -75px;
  padding: $space-m;
  position: absolute;
  z-index: $foreground;
}

.eventForm {
  min-width: 150px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.colorPalette {
  @mixin horizontalList;
  flex-wrap: wrap;
  margin-bottom: $space-s;
  max-height: 0;
  opacity: 0;
  overflow-y: hidden;
  transition-duration: 1.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 1, .5, 1);

  &.active {
    height: resolve($space-l * 4);
    max-height: resolve($space-l * 4);
    opacity: 1;
  }
}

.color {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: $space-s;
  width: 25%;
}
