.eventFormPopUp {
  background-color: $palette-text-or-icon;
  border-radius: $space-s;
  bottom: resolve($space-l + $space-xs);
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  left: -75px;
  padding: $space-m;
  position: absolute;
  z-index: $foreground;
}
