.navbar {
  background: #fff;
}

.list {
  @mixin horizontalList;
  border-bottom: 1px solid #f1f1f1;
  justify-content: space-between;
  padding: $space-m $space-l;
}

.sublist {
  @mixin horizontalList;
  justify-content: space-between;
}

.item {
  align-items: center;
  display: flex;
  margin-right: $space-m;
}
