.navbar {
  background: #fff;
}

.list {
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
  -list-style: none;
}

.container {
  max-width: 1186px;
}

.item {
  align-items: center;
  display: flex;
  padding: 24px;
  text-transform: capitalize;
}
