@keyframes slideUp {
  0% {
    max-height: 0;
  }

  100% {
    max-height: resolve($space-l * 4);
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.colorPalette {
  @mixin horizontalList;
  animation: slideUp .25s ease-in-out;
  flex-wrap: wrap;
  margin-bottom: $space-s;
}

.color {
  animation: show 1.5s;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: $space-s;
  width: 25%;
}
